/* App.css */

/* Change the width of the scrollbar */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Change the color and add border-radius to the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  /* Change the color and add border-radius to the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 4px;
  }
  
  /* Hover effect for the scrollbar handle */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8b8383;
  }
  